
target/
dbt_packages/
logs/
.DS_Store
.ipynb_checkpoints/pyspark_dfs-checkpoint.ipynb
.ipynb_checkpoints/pyspark_sql-checkpoint.ipynb
.ipynb_checkpoints/wk5_hw-checkpoint.ipynb
data/.DS_Store
data/raw/.DS_Store
data/raw/fhvhv/fhvhv_tripdata_2021-06.csv
data/raw/fhvhv/parquet/._SUCCESS.crc
data/raw/fhvhv/parquet/.part-00000-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00001-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00002-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00003-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00004-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00005-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00006-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00007-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00008-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00009-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00010-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/.part-00011-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet.crc
data/raw/fhvhv/parquet/_SUCCESS
data/raw/fhvhv/parquet/part-00000-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00001-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00002-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00003-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00004-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00005-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00006-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00007-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00008-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00009-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00010-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/parquet/part-00011-efe9274b-7052-4a8b-adbb-db6da29fdb3e-c000.snappy.parquet
data/raw/fhvhv/taxi_zone_lookup.csv
data/raw/green/2020/01/green_tripdata_2020_01.parquet
data/raw/green/2020/02/green_tripdata_2020_02.parquet
data/raw/green/2020/03/green_tripdata_2020_03.parquet
data/raw/green/2020/04/green_tripdata_2020_04.parquet
data/raw/green/2020/05/green_tripdata_2020_05.parquet
data/raw/green/2020/06/green_tripdata_2020_06.parquet
data/raw/green/2020/07/green_tripdata_2020_07.parquet
data/raw/green/2020/08/green_tripdata_2020_08.parquet
data/raw/green/2020/09/green_tripdata_2020_09.parquet
data/raw/green/2020/10/green_tripdata_2020_10.parquet
data/raw/green/2020/11/green_tripdata_2020_11.parquet
data/raw/green/2020/12/green_tripdata_2020_12.parquet
data/raw/green/2021/01/green_tripdata_2021_01.parquet
data/raw/green/2021/02/green_tripdata_2021_02.parquet
data/raw/green/2021/03/green_tripdata_2021_03.parquet
data/raw/green/2021/04/green_tripdata_2021_04.parquet
data/raw/green/2021/05/green_tripdata_2021_05.parquet
data/raw/green/2021/06/green_tripdata_2021_06.parquet
data/raw/green/2021/07/green_tripdata_2021_07.parquet
data/raw/green/2021/08/green_tripdata_2021_08.parquet
data/raw/green/2021/09/green_tripdata_2021_09.parquet
data/raw/green/2021/10/green_tripdata_2021_10.parquet
data/raw/green/2021/11/green_tripdata_2021_11.parquet
data/raw/green/2021/12/green_tripdata_2021_12.parquet
data/raw/yellow/.DS_Store
data/raw/yellow/2020/.DS_Store
data/raw/yellow/2020/01/yellow_tripdata_2020_01.parquet
data/raw/yellow/2020/02/yellow_tripdata_2020_02.parquet
data/raw/yellow/2020/03/yellow_tripdata_2020_03.parquet
data/raw/yellow/2020/04/yellow_tripdata_2020_04.parquet
data/raw/yellow/2020/05/yellow_tripdata_2020_05.parquet
data/raw/yellow/2020/06/yellow_tripdata_2020_06.parquet
data/raw/yellow/2020/07/yellow_tripdata_2020_07.parquet
data/raw/yellow/2020/08/yellow_tripdata_2020_08.parquet
data/raw/yellow/2020/09/yellow_tripdata_2020_09.parquet
data/raw/yellow/2020/10/yellow_tripdata_2020_10.parquet
data/raw/yellow/2020/11/yellow_tripdata_2020_11.parquet
data/raw/yellow/2020/12/yellow_tripdata_2020_12.parquet
data/raw/yellow/2021/01/yellow_tripdata_2021_01.parquet
data/raw/yellow/2021/02/yellow_tripdata_2021_02.parquet
data/raw/yellow/2021/03/yellow_tripdata_2021_03.parquet
data/raw/yellow/2021/04/yellow_tripdata_2021_04.parquet
data/raw/yellow/2021/05/yellow_tripdata_2021_05.parquet
data/raw/yellow/2021/06/yellow_tripdata_2021_06.parquet
data/raw/yellow/2021/07/yellow_tripdata_2021_07.parquet
data/raw/yellow/2021/08/yellow_tripdata_2021_08.parquet
data/raw/yellow/2021/09/yellow_tripdata_2021_09.parquet
data/raw/yellow/2021/10/yellow_tripdata_2021_10.parquet
data/raw/yellow/2021/11/yellow_tripdata_2021_11.parquet
data/raw/yellow/2021/12/yellow_tripdata_2021_12.parquet
data/report/revenue/._SUCCESS.crc
data/report/revenue/.part-00000-7eb7aa8e-a33d-4b2b-8aca-26049e8fd706-c000.snappy.parquet.crc
data/report/revenue/_SUCCESS
data/report/revenue/part-00000-7eb7aa8e-a33d-4b2b-8aca-26049e8fd706-c000.snappy.parquet
download_data.sh
head.csv
head.parquet
lib/gcs-connector-hadoop3-2.2.5.jar
taxi+_zone_lookup.csv
zones/._SUCCESS.crc
zones/.part-00000-a435749e-a978-451a-b5c0-8698b9718228-c000.snappy.parquet.crc
zones/_SUCCESS
zones/part-00000-a435749e-a978-451a-b5c0-8698b9718228-c000.snappy.parquet
